extends layout

block content
  h1 5-Day Forecast for London
  p The forecast for London on #{day1} is #{temp1} F and #{phrase1}.
  p The forecast for London on #{day2} is #{temp2} F and #{phrase2}.
  p The forecast for London on #{day3} is #{temp3} F and #{phrase3}.
  p The forecast for London on #{day4} is #{temp4} F and #{phrase4}.
  p The forecast for London on #{day5} is #{temp5} F and #{phrase5}.

